
/*装备页面css*/

.device-ad {
    margin-bottom:30px;
}
.device-content .cb-article{
    background-color: #f2f2f2;
    float: left;
    width:48%;
    margin-bottom:20px;
}
.cb-article.devicemr{
    margin-left:4%;
}
.device-content .cb-article .cb-meta h2{
    margin-bottom:10px;
}
.device-content .cb-article .cb-meta h2 a{
    font-size:20px;
    line-height:30px;
    letter-spacing:1px;
    color:#4d4d4d;
    font-weight: 700;
}
.device-content .cb-article .cb-meta h2 a:hover{
    text-decoration: underline;
}
.device-content .cb-article .cb-meta .cb-byline{
    font-size: 12px;
    letter-spacing: 1px;
    line-height:18px;
    color:#999999;
    margin-bottom:5px;
}
.device-content .cb-article .cb-experct{
    font-size: 14px;
    line-height:21px;
    color:gray;
}
@media only screen and (max-width: 479px){
    .device-content{
        margin-top:10px;
    }
    .device-content .cb-article{
        width:100%;
        margin:0 0 20px 0;
    }
    .device-content .cb-article .cb-meta{
        padding:10px 10px 15px 10px;
    }
    .device-content .cb-article .cb-meta h2{
        margin-bottom:5px;
    }
    .device-content .cb-article .cb-meta h2 a{
        font-size:16px;
        line-height:24px;
    }
    .device-content .cb-article .cb-meta .cb-byline{
        margin-bottom:3px;
    }
    .device-content .cb-article .cb-meta .cb-byline>div{
        margin:0 0 3px 0;
    }
    .device-content .cb-article .cb-experct{
        font-size: 13px;
        line-height:19.5px;
    }

}
@media only screen and (min-width: 480px){
    .device-content{
        margin-top:20px;
    }
    .device-content .cb-article .cb-meta{
        padding:10px 10px 15px 10px;
    }
    .device-content .cb-article .cb-meta h2 a{
        font-size:16px;
        line-height:24px;
    }
    .device-content .cb-article .cb-meta .cb-byline>div{
        margin:0 7px 5px 0;
    }
    .device-content .cb-article .cb-experct{
        font-size: 13px;
        line-height:19.5px;
    }
}
@media only screen and (min-width: 768px){
    .device-content .cb-article .cb-meta h2 a{
        font-size:18px;
        line-height:27px;
    }
}
@media only screen and (min-width: 1020px){
    #cb-section-b {
        padding:0;
        margin:0 0 0 30px;
    }
    #cb-section-b .device-content{
        margin-top:30px;
    }
    .device-content .cb-article .cb-meta{
        padding:10px 20px 20px 20px;
    }

}
@media only screen and (min-width: 1200px){
    #cb-section-b {
        padding:0 0 0 30px;
        margin:0;
    }
    .device-content .cb-article .cb-meta h2 a{
        font-size:20px;
        line-height:30px;
    }
    .device-content .cb-article .cb-meta .cb-byline>div{
        margin:0 7px 5px 0;
    }
}