/*首页样式main*/
html{
    font-family: sans-serif;
    font-size: 100%;
}
body {
    -webkit-font-smoothing: antialiased;
    font-weight: 200;
    color: gray;
    font-family: sans-serif;
}
@media only screen and (min-width: 1020px) {
    body{
        font-size: 14px;
    }
}

@media only screen and (min-width: 768px) {
    .wrap{
        position: relative;
        box-shadow: 0 9px 0 0 white, 0 -9px 0 0 white, 10px 0 30px 0 rgba(0, 0, 0, 0.15), -10px 0 -30px 0 rgba(0, 0, 0, 0.15);
    }
}
@media only screen and (min-width: 1200px) {
    .wrap{
        width: 1200px;
    }
}
/*main-header*/
.wrap {
    width: 1200px;
    margin: 0 auto;
}
#main-header {
    width: 100%;
    height: 112px;
    background-color: #f5f5f5;
}
.header-logo {
    float: left;
    padding: 20px 0 10px 30px;
}
.header-ad {
    padding: 12px 10px 0 0 ;
    float: right;
}
/*main-nav*/
#main-nav {
    color: #fafafa;
    position: relative;
    width: 100%;
    height: 48px;
    background-color: #262626;
}
.main-nav-list{
    background-color: #262626;
    width:1200px;
    height:48px;
    box-sizing: border-box;
    text-align: center;
    padding-left: 202px;
    transition: 1s;
}
#main-nav .nav-fix{
    position: fixed;
    top:0;
}
#main-nav .nav-fix>li>a{
    margin: 12px 12px;
}
.main-nav-list>li {
    float: left;
    font-size: 14px;
    font-weight: 200;
    letter-spacing: 2px;
}
.main-nav-list .cb-icons {
    float: right;
}
.cb-icons ul{
    font-size: 14px;
    font-weight: 200;
    letter-spacing: 2px;
}
.cb-icon-login{
    float: right;
}
.cb-icon-login>a,.cb-icon-serach>a{
    display: block;
    font-size: 24px;
    line-height: 24px;
    margin: 12px 15px;
    color: rgb(249, 249, 249);
}
.cb-icon-login>a:hover{
    text-decoration: none;
}
.cb-icon-serach>a:hover{
    text-decoration: none;;
}
.cb-icon-serach{
    float: right;
}
.main-nav-list>li>a {
    display: block;
    line-height: 23px;
    margin: 12px 15px;
    color: rgb(249, 249, 249);
}
.main-nav-list>li>a:hover {
    text-decoration: none;
}


/*导航栏设置*/
/*首页 橘色*/
#menu-item-301703:hover{
    background-color: #eb9812;
}

.cb-sub-menu>li:hover{
    background-color: #333333;
}
/*话题 紫色*/
#menu-item-301702:hover{
    background-color: #634582;
}
#menu-item-301702 .cb-sub-menu{
    background-color: #634582;
}
#menu-item-301702 .nav-tit span{
    border-bottom: 3px solid #634582;
}
#menu-item-301702 .cb-mask{
    background-color: #634582;
}
/*影廊 粉色*/
#menu-item-301699:hover{
    background-color: #e4406e;
}
#menu-item-301699  .cb-sub-menu{
    background-color: #e4406e;
}
#menu-item-301699 .nav-tit span{
    border-bottom:3px solid #e4406e;
}
#menu-item-301699 .cb-mask{
    background-color: #e4406e;
}

/*攻略 黄色*/
#menu-item-301700:hover{
    background-color: #e9cc20;
}
#menu-item-301700  .cb-sub-menu{
    background-color: #e9cc20;
}
#menu-item-301700  .nav-tit span{
    border-bottom-color: #e9cc20;
}
#menu-item-301700  .cb-mask{
    background-color: #e9cc20;
}

/*装备 蓝色*/
#menu-item-301701:hover{
    background-color: #689FCE;
}
#menu-item-301701 .cb-sub-menu{
    background-color: #689FCE;
}
#menu-item-301701 .cb-mask{
    background-color: #689FCE;
}
#menu-item-301701 .nav-tit{
    border-bottom-color: #689FCE;
}

/*专题 橙色*/
#menu-item-315013:hover{
    background-color: #eb9812;
}
/*订阅*/
#menu-item-325603:hover{
    background-color: #eb9812;
}
/*商店*/
#menu-item-432692:hover{
    background-color: #eb9812;
}


/*一图 橙色*/
#menu-item-440794:hover{
    background-color: #eb9812;
}
#menu-item-440794 .cb-sub-menu{
    background-color: #eb9812;
}
#menu-item-440794 .cb-mask{
    background-color: #eb9812;
}
#menu-item-440794 .nav-tit{
    border-bottom-color: #eb9812;
}

.cb-big-menu{
    position: absolute;
    left:0;
    top:48px;
    display: none;
    width: 1200px;
    background-color: #2d2d2d;
    overflow: hidden;
    z-index: 10;
}
.cb-sub-menu{
    float: left;
    width: 20%;
    border-right: 1px solid #333333;
    padding-bottom: 500px;
    margin-bottom: -500px;
}
.cb-sub-menu>li {
    text-align: center;
    text-space: 6px;
    font-size: 16px;
    line-height: 44px;
    height: 44px;
    border-bottom: 1px dashed #fafafa;
}
.cb-articles {
    box-sizing: border-box;
    float: right;
    width:80%;
    padding-bottom:30px;
}
.cb-featured{
    float: left;
    width:540px;
    box-sizing: border-box;
    height: 100%;
    border-right: 1px solid #333333;
    padding:0 30px 500px;
    margin-bottom: -500px;
}
.cb-featured .cb-article{
    position: relative;
}
.cb-featured .cb-mask {
    position: relative;
    width:480px;
    height:240px;
    overflow: hidden;
}
.cb-featured .cb-meta{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    bottom:0;
    left:0;
    width:100%;
    padding:0 30px;
    text-align: center;
}
.cb-featured .cb-meta h2{
    line-height:24px;
    font-size: 18px;
}
.cb-featured .cb-meta h2 a{
    text-decoration: underline;
}
.cb-featured .cb-meta .cb-byline{
    display: inline-block;
    text-align: center;
    color:white;
    padding-bottom:30px;
}
.nav-tit {
    width: 100%;
    height: 80px;
}
.nav-tit span {
    display: block;
    width: 40px;
    margin: 0 auto;
    font-size: 16px;
    text-align: center;
    line-height: 48px;

}
.cb-recent {
    box-sizing: content-box;
    float: right;
    width: 359px;
    padding:0 30px 500px;
    margin-bottom: -500px;

}
.recent-list{
    text-align: left;
    width:100%;
    height:240px;
}

.recent-list .cb-article-1{
    margin-bottom:25px;
}
.recent-list .cb-article-2{
    margin-bottom:25px;
}
.cb-recent .cb-mask{
    float: left;
    width:80px;
    height:60px;
}
.cb-recent .cb-meta{
    float: right;
    width:259px;
    height: 60px;
}
.cb-recent .cb-meta h2{
    line-height:20px;
}
.cb-byline{
    height:20px;
}
.cb-byline i{
    margin:0 10px;
}
.cb-auther{
    float: left;
    font-size: 12px;
}
.cb-recent .cb-auther{
    color:#999999;
}
.cb-recent .cb-auther a{
    color:#999999;
}

.cb-date{
    float: left;
    font-size: 12px;
}
.cb-recent .cb-date{
    color:#999999;
}
.cb-file{
    float: left;
    font-size: 12px;
}
/*导航下面的公告 */
#scroll-notice{
    font-size: 12px;
    height:35px;
    background-color: #e5e5e5;
}
#notice-tit{
    float: left;
    text-align: center;
    color: #808080;
    width:150px;
    height:35px;
}
#notice-con{
    position:relative;
    float: left;
    width:600px;
    height:35px;
    overflow: hidden;
}

#notice-box{
    position: absolute;
    top:0;
    left:0;
    width: 600px;
    height:210px;
}
#notice-box li{
    width:600px;
    height:35px;
    line-height:35px;
}
#notice-box li a{
    color:#cccccc;
}
/*首页主要内容*/
#cb-content{
    width:100%;
    min-height: 600px;
}

/*footer*/
.footer{
    background-color: #272727;
    border-top: 20px solid #333333;
}
.footer img{
    border: 0;
    width: 100%;
    height: auto;
}
.footer-widget{
    background-color: #272727;
    overflow: hidden;
}
.footer-left{
    padding-top: 30px;
    width: 33%;
    float: left;
    box-sizing: border-box;
}
.footer-left-logo, .footer-content, .footer-title{
    margin: 0 30px;
    padding-bottom: 30px;
}
.footer-left-logo2{
    padding-bottom: 0;
    text-align: center;
}
.footer-left-logo img{
    padding: 10px 20px 20px 30px;
}
img{
    border: 0;
    max-width: 100%;
    height: auto;
}
.footer-left p{
    color: gray;
    font-size: 16px;
}
.footer-title-ads{
    padding: 15px;
    font-size: 20px;
    margin: 0 0 20px 0;
    color: #f2f2f2;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
}
.footer-title-ads span{
    padding: 10px 0;
    margin: 0 0 20px 0;
    border-bottom-color: #eb9812;
    border-bottom: 3px solid #eb9812;
}
ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.footer-left-img li{
    display: inline-block;
    margin: 0 20px 15px;
    float: left;
    text-align: -webkit-match-parent;
}
.footer-middle{
    width: 33%;
    box-sizing: border-box;
    float: left;
    border: 0px solid #333333;
    border-left-width: 1px;
    border-right-width: 1px;
    padding-top: 30px;
}
.footer-middle-light{
    padding: 20px;
}
.footer-middle-light li{
    margin: 0 0 20px 0;
}
.footer-middle-mask{
    position: relative;
    float: left;
    margin: 0 20px 0 0;
    width: auto;
}
.footer-middle-meta{
    padding: 0 5px 5px 100px;
    color: #999999;
}
h4{
    font-size: 12px;
    margin: 0 0 10px;
    font-weight: 400;
    color: #e5e5e5;
    display: block;
    -webkit-margin-before: 1.1em;
    -webkit-margin-after: 1.1em;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
}
.footer-middle-meta h4 a{
    color: #e5e5e5;
    line-height: 1.5;
}
.footer-middle-byline{
    margin: 0 3px 5px 0;
    display: inline-block;
    box-sizing: border-box;
    color: #999999;
    letter-spacing: 1px;
}
.footer-middle-icon-user{
    margin: 0 2px 0 0;
}
.footer-middle-byline a{
    color: #cccccc;
}
.footer-middle-byline .iconfont{
    font-size: 14px;
}
.footer-middle-date i{
    color: #bcbcbc;
}
.footer-middle-date{
    display: inline-block;
    box-sizing: border-box;
    margin: 0 3px 5px 0;
}
.footer-right{
    width: 33%;
    float: right;
    box-sizing: border-box;
}
.footer-right-recent{
    margin: 0 30px;
    padding-bottom: 30px;
}
.footer-right-widget{
    color: #f7f7f7;
    position: relative;
    z-index: 1;
}
.footer-right-viewport{
    max-height: 2000px;
    max-height: 300px;
    transition: all 1s ease;
    overflow: hidden;
    position: relative;
}
.footer-right-viewport .slides{
    position: relative;
    z-index: 1;
    width: 1400%;
    transition-duration: 0.6s;
    transform: translate3d(0px, 0px, 0px);
}
.footer-right-viewport ul li{
    position: relative;
    width: 336px;
    float: left;
    z-index: 1;
    border-top-color: rgb(224, 64, 110);
    text-align: center;
    background: #2d2d2d;
    display: block;
}
.footer-right-viewport ul li a{
    color: #cccccc;
}
a:link{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
}
.footer-right-viewport ul li img{
    border:0;
    height: auto;
    max-width: 100%;
    width: 100%;
    display: block;
    vertical-align: top;
}
@media only screen and (min-width: 768px) {
    .footer-right-viewport ul li img{
        transition: all 0.5s;
    }
}
.footer-right-viewport .footer-right-meta{
    position: absolute;
    width: 100%;
    left:0;
    bottom: 0;
    text-align: center;
}
@media only screen and (min-width: 768px) {
    .footer-right-viewport .footer-right-meta h4{
        font-size: 16px;
        padding: 0 10px 40px 40px;
    }
}
.footer-right-viewport a{
    color: #cccccc;
}
@media only screen and (min-width: 768px) {.footer-right-widget .slides li img {
    transition: all 0.5s;
    }
}
.footer-right-widget .slides img{
    width: 100%;
    display: block;
    vertical-align: top;
    opacity: 0.9;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    -ms-transition: all 0.35s;
    -o-transition: all 0.35s;
    transition: all 0.35s;
}
.slides li:hover img{
    transform: scale(1.1, 1.1);
    z-index: 20;
}
.footer-right-widget .slides li .footer-right-meta{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
@media only screen and (min-width: 768px) {
    .footer-right-widget .slides li .footer-right-meta h4{
        padding: 0 40px 10px 40px;
        font-size: 16px;
    }
}
.footer-right-meta h4{
    position: relative;
    width:100%;
    font-size: 16px;
    padding: 0 40px 10px 40px;
}
.footer-right-meta h4 a{
    color: #f7f7f7;
    border-bottom: 2px solid white;
}
a:link{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
}
.footer-right-byline {
    display: inline-block;
    padding: 0 10px 5px 10px;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
    letter-spacing: 1px;
}
@media only screen and (min-width: 1020px) {
    .footer-right-byline{
        padding: 0 0 5px 0;
        font-size: 11px;
    }
}
.footer-right-author{
    display: inline-block;
}
@media only screen and (min-width: 1020px) {
    .footer-right-author{
        padding: 0 10px 5px 0px;
    }
}
.footer-right-author i{
    color: #f2f2f2;
}
@media only screen and (min-width: 1020px) {
    .footer-right-author i{

        margin-right: 5px;
    }
}
.footer-right-author a{
    color: #cccccc;
}
.footer-right-date{
    display: inline-block;
}
@media only screen and (min-width: 1020px) {
    .footer-right-date{
        padding: 0 10px 5px 0px;
    }
}
.footer-right-date i{
    color: #f2f2f2;
}
@media only screen and (min-width: 1020px) {
    .footer-right-author i{
        margin-right: 5px;
    }
}
.footer-right-nav a{
    width: 40px;
    position: absolute;
    top: 0;
    height: 100%;
    margin: 0;
    display: block;
    cursor: pointer;
    font-size: 0;
    z-index: 10;
    color: #cccccc;
}
.footer-right-nav .footer-right-prev{
    left: 0;
    background: whitesmoke;
}
@media only screen and (min-width: 768px) {
    .footer-right-nav a{
        width: 40px;
        transition: all 0.35s ease;
        opacity: 0.25;
    }
}
.footer-right-nav .footer-right-next{
    right: 0;
    background: whitesmoke;
}
@media only screen and (min-width: 1020px) {
    .footer-right-user{
        margin: 0 30px;
        padding: 30px;
    }
}
.footer-lower{
    background: #1c1d1e;
}
@media only screen and (min-width: 1020px) {
    .footer-lower{
        padding: 30px 0;
        font-size: 10px;
    }
}
.footer-wrap{
    margin: 0 auto;
}
@media only screen and (min-width: 1020px) {
    .footer-wrap{
        width: 1200px;
    }
}
@media only screen and (min-width: 1020px) {
    .footer-lower > div{
        padding: 0 30px;
    }
}
.footer-copyright{
    color: gray;
}
.footer-lower > div > div{
    display: inline-block;
}
@media only screen and (min-width: 1020px) {
    .footer-copyright{
        width: 100%;
        text-align: center;
    }
}
.footer-copyright a{
    color: #cccccc;
}
.footer-copyright p{
    margin: 0 0 1em 0;
}
#to-top a{
    display: none;
    display: inline;
    position: fixed;
    cursor: pointer;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    text-decoration: none;
}
#to-top a i{
    display: none;
    color: #eb9812;
    transform: rotate(270deg);
}
@media only screen and (min-width: 768px) {
    #to-top a i{
        display: none;
        font-size: 40px;
        padding: 5px 15px 5px 15px;
        transform: rotate(270deg);
    }
}
.icon-ordinaryjiantou2you:before {
    transform: rotate(270deg);
}























