/*重置样式reset*/
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{  margin:0;
    font-family: "Microsoft Sans Serif";
    box-sizing: border-box;
}
a {
    cursor: pointer;
    color: #ffffff;
}
a:hover{
    color:#ffffff;
}
p {
    margin: 0;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
li{
    display: list-item;
    text-align: -webkit-match-parent;
}
[class^="icon-"] {
    font-size: 12px;
}

h1,h2,h3,h4,h5,h6{
    margin:0;
    padding:0;
    font-weight: 500;
    line-height:1.1;
}