/*工具样式*/

/*清除浮动*/
.clearfix:after{
    content: '';
    display: block;
    height: 0;
    clear: both;
}

img{
    border:0;
    max-width:100%;
    height:auto;
}

/*用于覆盖图片和文字*/
.cb-link{
    position: absolute;
    top:0;
    left:0;
    display: block;
    width:100%;
    height:100%;
}

