
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1481260523308'); /* IE9*/
  src: url('iconfont.eot?t=1481260523308#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1481260523308') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1481260523308') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1481260523308#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ordinaryjiantou2you:before { content: "\e651"; }

.icon-add:before { content: "\e600"; }

.icon-shanchu:before { content: "\e624"; }

.icon-zhedie:before { content: "\e6b3"; }

.icon-iconsousuo:before { content: "\e61d"; }

.icon-time:before { content: "\e627"; }

.icon-wenjianjia:before { content: "\e66e"; }

.icon-iconfontlock:before { content: "\e648"; }

.icon-dayu-gengduo:before { content: "\e606"; }

.icon-person:before { content: "\e61f"; }

